In [1]:
import os
import pandas as pd

In [6]:
data_path = "../../data/patches_100_A"

#classes = os.listdir(data_path)
#classes.sort()
#print(len(classes), classes)

In [7]:
print(len(os.listdir(data_path)))

6720

In [8]:
#number_of_images = sum([len(os.listdir(data_path+'/'+c)) for c in classes])
path = data_path 
df= pd.DataFrame(columns=['Patient','lame','patch','label'], index=range(len(os.listdir(path))))

i=0
#for c in classes:
for image in os.listdir(path):
    if 'row' in image:
        df.iloc[i]=[image.split("_")[0], image.split("_")[1].split()[0], image, 0]
    #elif '(' in image and ')' in image:
    #    try :
    #        df.iloc[i]=[image.split("_")[1], image.split("_")[0], image, 0]
    #    except:
    #        df.iloc[i]=[image.split("_")[1], image.split('_')[-1].split('(')[0],image, 0]
    else:
        print(image)
    i+=1
        
df=df.dropna()    
df['Patient']=df['Patient'].astype(int)

n_patients = len(df['Patient'].unique())
patients = df['Patient'].unique()
print(f"Patients ({n_patients})",patients)
display(df)

df.to_csv('../../data/splits/100_A.csv', index=False)

Patients (1) [100]

      Patient lame                     patch label
0         100    A  100_A_row_22_col_114.jpg     0
1         100    A  100_A_row_85_col_150.jpg     0
2         100    A  100_A_row_24_col_166.jpg     0
3         100    A  100_A_row_23_col_160.jpg     0
4         100    A  100_A_row_45_col_152.jpg     0
...       ...  ...                       ...   ...
6715      100    A   100_A_row_83_col_81.jpg     0
6716      100    A   100_A_row_66_col_83.jpg     0
6717      100    A  100_A_row_48_col_133.jpg     0
6718      100    A   100_A_row_65_col_85.jpg     0
6719      100    A  100_A_row_64_col_111.jpg     0

[6720 rows x 4 columns]